h1{
    color:blue;
}


#hw{
   
    background-color: aqua;
}


.ABC{
    color:red;
}


p,h1{
    color:brown
}


h2.ABC{
    color:blueviolet
}


*{
    background-color:skyblue;
}
#hw{
    background-color: red;
    border: 12px solid;
    margin: 10px;
    padding: 20px;
}



